@model BlogProject.Web.Areas.Admin.Models.DTOs.CreateArticleDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>CreateArticleDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input type="file" asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Choose a Category</label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var item in Model.Categories)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>

                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Choose a Author</label>
                <select asp-for="AppUserId" class="form-control">
                    @foreach (var item in Model.AppUsers)
                    {
                        <option value="@item.Id">@item.FirstName @item.LastName</option>
                    }
                </select>

                <span asp-validation-for="AppUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

